<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
       href="https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@500&display=swap"
      rel="stylesheet"
    />
    <link href="styles/app.css" rel="stylesheet" />
    <title> Clothing Store </title>
  </head>
  <body>
    <div class="container">
      <header class="shared header">
        <h1> Clothing Store </h1>
      </header>

      <div class="login">
        <button id="cart-button" class="register-button">
          <a href="cart">Cart</a>
        </button>

        <button id="logout-button" class="register-button">
          <a href="logout">Logout</a>
        </button>
      </div>

      {{{body}}}

      <footer class="shared footer">
        <h2>Contact us</h2>
        <ul>
          <li>
            <a href="mailto:clothingstore@store.com"> clothingstore@store.com</a>
          </li>
          <li>
            <a href="tel:+01-680-786-5555">680-786-5555</a>
          </li>
        </ul>
      </footer>
    </div>
  </body>
</html>
